.container {
  /* 2x2 grid system */
  margin: 20px 0px;

  display: grid;
  grid-template-columns: 49.5% 49.5%;
  grid-row: auto auto;
  grid-column-gap: 1%;
  grid-row-gap: 1%;

  grid-auto-rows: 1fr;
}

.container-single {
  grid-template-columns: 100%;
}

.container-mini {
  grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
}

.container a {
  display: grid;
  /* Make the links appear below each other */

  /* Add some padding */
  text-decoration: none;
  /* Remove underline from links */
  line-height: 30px;

}

div .container {
  /* fix scaling on thin screens */
  --bs-gutter-x: 2vw;
}

.box {
  /* each individual box inside the grid */
  padding: 20px;
  background-color: #07070A;
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.box:hover {
  background-color: #00798C;
}

.box img {
  border-radius: 10px;
  margin-bottom: 15px;

}

.preview-image {
  width: 100%;
}

@media only screen and (max-width: 1080px) {
  .container {
    grid-template-columns: 45vw 45vw;
  }

  .container-single {
    grid-template-columns: 91vw;
  }

  .container-mini {
    grid-template-columns: 22vw 22vw 22vw 22vw;
  }

  #body {
    display: block;
  }

}