/*default*/
a {
  font-size: x-large;
}

p {
  font-size: large;
}

body {
  background-color: #262626;
}

li {
  color: #fff;
}

code {
  font-size: 2.5vh;
}

h1 {
  color: #FFFFFF;
}

h2 {
  color: #FFFFFF;
}

h3 {
  color: #FFFFFF;
}

h4 {
  color: #FFFFFF;
}

p {
  color: #FFFFFF;
}

#body {
  display: flex;
  padding: 1%;
  margin: auto;
  justify-content: center;
}

/*navbar*/
.navbar {
  background-color: #EDAE49;
}

.navbar ul li a {
  color: #262626;
}

.active,
.navbar ul li a:hover {
  color: #FFF !important;
}

.navbar-brand,
.navbar-brand:hover {
  font-size: xx-large;
  color: #262626;
}

#fourohfour {
  margin: 100px;
  padding: 20px;
  background-color: #D1495B;
  border-radius: 25px;
}

/*mobile*/
@media only screen and (max-width: 1080px) {
  #sidebar {
    display: none;
  }

  .container {
    grid-template-columns: 45vw 45vw;
    width: 100vw;
  }
}

.centered {
  display: block;
  margin: auto;
}

.centered-text {
  text-align: center;
}