body {
  background-color: white;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

h3 {
    color: black;
    text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

ul {
	list-style-position: inside;
	text-align: center;
}

li {
    font-family: verdana;
    font-size: 20px;
}

div {
  transition-duration: .5s;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: black;
}

img {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-container3 {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.img-container2 {
  float: left;
  width: 50%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

* {
  box-sizing: border-box;
}
