body {
  background-color: white;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

h3 {
    color: black;
    text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

ul {
	list-style-position: inside;
	text-align: center;
}

li {
    font-family: verdana;
    font-size: 20px;
}

div {
  transition-duration: .5s;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: black;
}

img {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgContainer{
    float:left;
	padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}